.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
.gradle/
!gradle/wrapper/gradle-wrapper.jar
src/main/java/waysideController/plc_parser
/src/main/java/Framework/Simulation/csvs/
plcFile.plc
PLC.plc
WaysideHW.jar

### IntelliJ IDEA ###
.idea/
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
build/*
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

