.gradle/workspace-id.txt
.gradle/workspace-id.txt.lock
.gradle/
!gradle/wrapper/gradle-wrapper.jar
src/main/java/waysideController/plc_parser

### IntelliJ IDEA ###
.idea/
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/compiler.xml
.idea/dictionaries
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml



### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
build/*
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
