@font-face {
    font-family: 'Digital-7 Mono';
    src: url('digital.ttf');
}

.text-area {
    -fx-font-family: 'Digital-7 Mono';
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-control-inner-background: #2c3a47;
    -fx-background-color: #2c3a47;
    -fx-background-insets: 0;
    -fx-padding: 5px;
}
.text-area *.text {
    -fx-text-alignment: center;

}

.text-area .content {
    -fx-background-color: #2c3a47;
    -fx-line-spacing: 5px;
}

.text-area:focused {
    -fx-border-color: #2c3a47;
}