@font-face {
    font-family: 'Digital Bold';
    src: url('digital.ttf');
}

.led-text-field {
    -fx-font-family: 'Digital Bold';
    -fx-font-size: 18px;
    -fx-text-fill: #00FF00;
    -fx-background-color: #2c3a47;
    -fx-border-color: #00FF00;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.led-text-field:focused {
    -fx-border-color: #00FF00;
    -fx-background-color: #2c3a47;
}